.html {
  font-size: 18px;
}

body {
  position: relative;
}

/*div {
  border: red solid 1px;
}*/

h1 {
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 66px;
}

a {
  text-decoration: none;
}




/*——————— HEADER BAR ———————*/
/*Nav Bar*/
nav {
  width: 100%;
  height:3.94rem;
  background-color: #083B42;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #0B5059;
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktop img{
  width: 226px;
  height: 39px;
}

nav .desktop ul li {
  display: inline-block;
}

ul {
  margin:0;
  padding:0;
}

.flex {
  display: flex;
  align-items: center;
}

/*Links*/
.links li a {
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 22px 10px;
}

.links li a:hover {
  background-color: #FFB300;
  transition: all .25s ease-in-out;
}

.links li a:active {
  background-color: #1F66BB;
  transition: all .03s ease-in-out;
}

/*Sign Up Butto*/
nav .desktop .links li:nth-child(4n+0) {
  background-color: #009999;
  padding: 23px 20px;
  margin-right: 0;
}

nav .desktop .links li:nth-child(4n+0):hover {
  background-color: #FFB300;
}

nav .desktop .links li:nth-child(4n+0):active {
  background-color: #1F66BB;
  transition: all .03s ease-in-out;
}

/*Mobile Toggle*/
.toggle {
  display: none;
}

/*///////Responsive///////*/
@media screen and (max-width: 680px) {
  .desktop .links li {
    display: none;
  }

  .desktop li.toggle {
    float: right;
    display: block;
  }

  .desktop .links li a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 22px;
    background-color: #009999;
  }

  nav .desktop .links li a:hover {
    background-color: #FFB300;
  }

  nav .desktop .links li a:active {
    background-color: #1F66BB;
    transition: all .03s ease-in-out;
  }

  .links.responsive {
    position: absolute;
    top: 0;
    right: 0;
  }
    .links.responsive li a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

  .links.responsive li a {
    float: none;
     display: block;
     text-align: left;
 }
}

@media screen and (max-width: 426px) {
  .desktop img{
    width: 150px;
    height: auto;
  }

  nav {
    width: 100%;
    height:50px;
  }

  .desktop .links li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 16px;
  }

}




/*——————— Hero Banner ———————*/
.hero {
  position: relative;
  top: 63px;
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-between;
}

.study-img {
  width: 100%;
  height: auto;
  background-image: url('/Users/gedalyakrycer/Projects/Capstone/capstone_colmar/resources/images/banner-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.hero-learn {
  height: 500px;
  width: 405px;
  background: linear-gradient(179.49deg, #009999 0%, #1F66BB 100%);
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.learn-content {
  padding: 30px 23px;
  box-sizing: border-box;
}

.learn-content p {
  	font-family: Lato, sans-serif;
    line-height: 26px;
    color: white;
    margin-top: 30px;
}

#hero-button {
  height: 45px;
  width: 200px;
  border-radius: 50px;
  background-color: #FFB300;
  color: white;
  font-family: roboto, sans-serif;
  display: block;
  margin-top: 30px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 14px;
  transition: all .25s ease-in-out;
}

#hero-button:hover {
  background-color: #009999;
}

#hero-button:active {
  background-color: white;
  color: #009999;
  transition: all .03s ease-in-out;
}

/*///////Responsive///////*/
@media screen and (max-width: 426px) {
  .hero {
    /*position: relative;*/
    top: 63px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .study-img {
    width: 100%;
    height: 150px;
    background-image: url('/Users/gedalyakrycer/Projects/Capstone/capstone_colmar/resources/images/hero-image-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
  }

  .hero-learn {
    height: 500px;
    width: 100%;
    background: linear-gradient(179.49deg, #009999 0%, #1F66BB 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    order: 2;
  }
}
